* {
    margin: 0px;
    padding: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-decoration: none;
    list-style: none;
    position: relative;
    font-family: 'Abril Fatface', sans-serif ;
}